---
import PageLayout from "@layouts/PageLayout.astro";
import Section from "@components/Section.astro";
import SectionTitle from "@components/SectionTitle.astro";
import FeatureCard from "@components/FeatureCard.astro";
import FeatureInfo from "@components/FeatureInfo.astro";
import { Image } from "astro:assets";
import exposureStatistics from "@images/exposure-statistics.png";
import healthHeroImage from "@images/health-hero-image.png";
import scienceHeroImage from "@images/science-hero-image.png";
import supportHeroImage from "@images/support-hero-image.png";
import muteIcon from "@images/mute-icon.svg";
import ActionButton from "@components/ActionButton.astro";
import appIcon from "@images/go2-app-icon.svg";
import pauseIcon from "@images/pause-icon.svg";
import AccordionItem from "@components/AccordionItem.astro";
import AvailabilityCard from "@components/AvailabilityCard.astro";
import SubscriptionOptionsCard from "@components/SubscriptionOptionsCard.astro";
import GO2Explainer from "@video/GO2-Explainer.mp4";

---

<PageLayout title="GO2 - Home">
	<Section id="home" className="pb-0 pt-9">
	</Section>
	<!-- TODO: Needs positioning with the header, height setting,  webkit-fill as per design? -->
	<Section id="video">
		<figure class="w-screen">
			<video
				id="video"
				controls
				preload="metadata"
				poster="/src/images/video-poster.png"
			>
				<source src={GO2Explainer} type="video/mp4" />
				<track
					label="English"
					kind="subtitles"
					srclang="en"
					src="/src/video/GO2-Explainer-subtitles.vtt"
					default
				/>
			</video>
			<!-- TODO: Controls functionality and progress styling -->
			<ul
				id="video-controls"
				class="flex flex-row w-screen justify-around hidden"
			>
				<li>
					<button id="playpause" type="button">
						<Image src={pauseIcon} alt="pause icon" />
					</button>
				</li>
				<li>
					<progress
						id="progress"
						value="5"
						max="100"
						class="h-1"
					>
						<span id="progress-bar"></span>
					</progress>
				</li>
				<li>
					<button id="mute" type="button">
						<Image src={muteIcon} alt="mute icon" />
					</button>
				</li>
			</ul>
		</figure>
	</Section>
	<Section id="features">
		<SectionTitle title="Features"/>
		<FeatureCard className="bg-pollutants justify-end">
			<FeatureInfo
				title="See the air you breathe"
				description="Real-time air quality maps with unprecedented detail combine traffic and other emissions with weather data."
				hasBackground
			/>
		</FeatureCard>
		<FeatureCard className="bg-go2-blue-light">
			<FeatureInfo
				title="Track your exposure"
				description="Keep tabs on your exposure to pollutants every day. See monthly and yearly data to fully enjoy the benefits to health and happiness."
			/>
			<Image
				src={exposureStatistics}
				alt="Exposure statistics dial"
			/>
		</FeatureCard>
		<FeatureCard className="bg-route-finding justify-end">
			<FeatureInfo
				title="Track your exposure"
				description="Keep tabs on your exposure to pollutants every day. See monthly and yearly data to fully enjoy the benefits to health and happiness."
				hasBackground
			/>
		</FeatureCard>
	</Section>
	<Section
		id="health-and-well-being"
		className="bg-go2-blue-light"
	>
		<SectionTitle title="Health and well-being"/>
		<Image
			src={healthHeroImage}
			alt="Health illustration placeholder"
			class="w-full max-w-none max-h-home-hero-image"
		/>
		<h3 class="text-2xl">
			Improve health, increase happiness
		</h3>
		<div class="flex flex-col gap-4">
			<p>Air pollutants lead to poor health and reduced self esteem.</p>
			<p>Pollution lowers productivity levels and income earnings.</p>
			<p>Less environmental stress leads to less distress and better life satisfaction.</p>
		</div>
		<ActionButton
			title="Learn more"
			href="/health-and-happiness"
		/>
	</Section>
	<Section
		id="science"
		className="bg-go2-blue"
	>
		<SectionTitle
			title="Science"
			className="text-white"
		/>
		<Image
			src={scienceHeroImage}
			alt="Science illustration placeholder 2"
			class="w-full max-w-none max-h-home-hero-image"
		/>
		<h3 class="text-2xl text-white">
			Obsessed with scientific accuracy
		</h3>
		<div class="flex flex-col gap-4 text-white">
			<p>Uniquely accurate, evolving AI model combining traffic, emissions and weather data.</p>
			<p>More compounds added constantly to model indoor and outdoor environments.</p>
			<p>Finland-based international team with 2000+ top-level peer-reviewed papers.</p>
		</div>
		<ActionButton
			title="Learn more"
			className="bg-go2-blue-light text-go2-blue"
			href="/science"
		/>
	</Section>
	<Section
		id="Download"
		className="bg-clouds w-full bg-cover bg-center"
	>
		<h3 class="text-2xl text-black text-center w-7/12 my-6">Take a fresh start. Download GO2 for free</h3>
		<a
			href=""
			class="bg-go2-blue text-[#fff] flex flex-row gap-2 rounded-[24px]"
		>
			<Image src={appIcon} alt="App icon"/>
		</a>
	</Section>
	<Section
		id="availability-1"
		className="bg-go2-blue-light"
	>
		<AvailabilityCard/>
	</Section>
	<Section
		id="subscription-1"
		className="bg-clouds-2 bg-cover bg-top"
	>
		<SubscriptionOptionsCard/>
	</Section>
	<Section
		id="support"
		className="bg-white"
	>
		<SectionTitle title="Support"/>
		<Image
			src={supportHeroImage}
			alt="Support illustration placeholder"
			class="w-full max-w-none max-h-home-hero-image"
		/>
		<h3 class="text-2xl">
			How can we help you
		</h3>
		<div class="flex flex-col gap-4">
			<p>We’ve collected some of the most common questions and their answers below.</p>
			<p> If you can’t find what you’re looking for, you can always contact us.</p>
		</div>
		<ActionButton title="Contact support" />
	</Section>
	<Section
		id="faq"
		className="bg-white"
	>
		<SectionTitle title="Support"/>
		<h3 class="text-2xl">
			Frequently asked questions
		</h3>
		<AccordionItem
			summary="What are PM2.5, PM10, CO2 and NOx?"
			content="Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat."
		/>
		<AccordionItem
			summary="How is the air quality measured?"
			content="Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat."
		/>
		<AccordionItem
			summary="How are the forecasts created?"
			content="Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat."
		/>
		<AccordionItem
			summary="How can I cancel my subscription?"
			content="Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat."
		/>
		<AccordionItem
			summary="What’s included in the free version?"
			content="Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat."
		/>
		<AccordionItem
			summary="Why should I upgrade to the Pro version?"
			content="Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat."
		/>
		<AccordionItem
			summary="Which devices are supported?"
			content="Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat."
		/>
	</Section>
</PageLayout>